.page {
    height: 100vh;
}

.widget {
    margin: 30px 20px;
    border: 0;
    border-radius: 20px;
    padding: 0 20px 15px 20px;
    overflow: hidden;
}

.doughnut-w {
    width: 30%;
    height: 45vh;
}

.dough-header {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dough-header>h5 {
    margin: 0;
    font-size: larger;
    color: grey;
}

.btns {
    margin: 0 20px;
    text-align: right;
    padding-top: 15px;
}

.btn {
    background-color: #009FFD;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btn:disabled {
    background-color: lightgray;
    box-shadow: 0;
}

.shadow {
    box-shadow: 3px 3px 10px grey;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    background-color: white;
    color: #009FFD;
}

.loader {
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 1007;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading-text {
    font-size: 55px;
}

.ellipses {
    position: absolute;
    font-size: inherit;
}